<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Properties"}}</a>
    <a class="item" data-tab="spections">{{localize "CZT.Common.Navs.Spections"}}</a>
  </nav>
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">{{name}}</header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab properties" data-group="primary" data-tab="properties">  
      Properties
    </div>
    <div class="tab" data-group="primary" data-tab="spections">
      spections
    </div>
  </section>
</form>