<form class="{{cssClass}}" autocomplete="off">

{{>"sheets-actors-partials-navigation-sheet" specialtab=specialtab }}

{{!-- Sheet Body --}}
<section class="sheet-body">
{{#if specialtab}}
  <div class="tab tab-{{specialtab}}" data-group="primary" data-tab="tab-{{specialtab}}">
    {{#ife specialtab 'battlesuit'}}
      {{>"sheets-actors-partials-tab-sheet-battlesuit" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'cyborg_male'}}
      {{>"sheets-actors-partials-tab-sheet-cyborg_male" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'daredevil'}}
      {{>"sheets-actors-partials-tab-sheet-daredevil" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'engineer'}}
      {{>"sheets-actors-partials-tab-sheet-engineer" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'janissary'}}
      {{>"sheets-actors-partials-tab-sheet-janissary" systemData=systemData}}
    {{/ife}}
  </div>
{{/if}}
<div class="tab" data-group="primary" data-tab="common-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_common}}
</div>
<div class="tab" data-group="primary" data-tab="dramatic-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_dramatic}}
</div>
<div class="tab" data-group="primary" data-tab="cosmic-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_cosmo}}
</div>
<div class="tab" data-group="primary" data-tab="threats-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_threats}}
</div>
<div class="tab notes-own" data-group="primary" data-tab="notes-own">
  <div class="actor-wrapper">
    <div class="actor-row">
      <div class="actor-column">
        {{editor systemData.notes target="system.notes" button=true engine="tinymce" collaborate=false}}
      </div>
    </div>
  </div>
</div>
</section>
</form>
