<form class="{{cssClass}}" autocomplete="off">

<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Properties"}}</a>
  <a class="item" data-tab="skills">{{localize "CZT.Common.Navs.Skills"}}</a>
  <a class="item" data-tab="common-movies">{{localize "CZT.Common.Navs.CommonMovies"}}</a>
</nav>
<section class="sheet-body">
  <div class="tab properties" data-group="primary" data-tab="properties">
    <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column">
          left
        </div>
        <div class="actor-column">
          center
        </div>
        <div class="actor-column">
          right
        </div>
      </div>
    </div>
  </div>
  <div class="tab skills" data-group="primary" data-tab="skills">
        <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column">
          left
        </div>
        <div class="actor-column">
          center
        </div>
        <div class="actor-column">
          right
        </div>
      </div>
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="common-movies">

  </div>
</section>
</form>
