.actor.sheet {
  
  .sheet-roll-weapon {

  }

  .sheet-item-del {

  }

  .actor-info {
  
    .actor-avatar {
      width: 100px;
      height: 100px;
    }
  }
  
  .actor-items-equipment {

  }

  .actor-items-weapon {
  
  }

  .actor-items-armor {
  
  }

  .actor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .actor-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .sheet-tabs-origin {
    justify-content: space-between;
  }

  .actor-item-origin.active{
    text-shadow: None;
  }

  textarea[name="system.history.originInfo"] {
    height: 160px;
  }

  .actor-sheet-block {
    margin-top: 3px;
  }

  .cluster-own-you {
    border: 1px solid var(--color-border-light-tertiary);
  }
}