.actor.sheet {
  
  .sheet-roll-weapon {

  }

  .sheet-item-del {

  }

  .actor-info {
  
    .actor-avatar {
      width: 100px;
      height: 100px;
    }
  }
  
  .actor-items-equipment {

  }

  .actor-items-weapon {
  
  }

  .actor-items-armor {
  
  }

  .actor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .actor-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}