.sheet {
  form {
    .cursor-click {
      cursor: pointer; 
    }

    .fa-trash {
      
    }

    input, select {
      background: none;
      border: 1px solid transparent;
    }

    table {
      margin: 0;
      border: 0;
      background: none;
      border-collapse: separate;
      border-spacing: 2px;

      td.table-line-img {
        width: 30px;
        height: 30px;

        img {
          border: 0;
        }
      }

      td.icon-trash {
        width: 15px;
      }
    }

    .editor{
      width: 100%;
      height: 100%;
    }

    ul {
      margin-top: 0;
      padding: 0;
    }

    ul li {
      list-style: none;
      margin-left: 0;
    }

  }
}