/* Reset bases */
.window-app .window-content,
.message-content {
  background: var(--color-text-light-0);
  color: var(--color-text-dark-primary);
  font-family: 'Hattori Hanzo';
}
.window-app .window-content h1,
.message-content h1,
.window-app .window-content h2,
.message-content h2,
.window-app .window-content h3,
.message-content h3,
.window-app .window-content h4,
.message-content h4,
.window-app .window-content h5,
.message-content h5,
.window-app .window-content h6,
.message-content h6 {
  font-family: Furore;
}
.window-app .window-content .czt-wrapper .czt-row,
.message-content .czt-wrapper .czt-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.window-app .window-content .czt-wrapper .czt-row .czt-column,
.message-content .czt-wrapper .czt-row .czt-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.window-app .window-content div.editor,
.message-content div.editor {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
}
.window-app .window-content .czt-ul,
.message-content .czt-ul,
.window-app .window-content .czt-ol,
.message-content .czt-ol,
.window-app .window-content .arrow-right,
.message-content .arrow-right {
  margin-top: 0;
  padding: 0;
}
.window-app .window-content .czt-ul li,
.message-content .czt-ul li,
.window-app .window-content .czt-ol li,
.message-content .czt-ol li,
.window-app .window-content .arrow-right li,
.message-content .arrow-right li {
  list-style: none;
  margin-left: 0;
}
.window-app .window-content .arrow-right li:before,
.message-content .arrow-right li:before {
  content: "➤";
  padding-right: 5px;
}
.window-app .window-content .czt-table,
.message-content .czt-table {
  background: unset;
  margin: 0;
  border: none;
}
.window-app .window-content .czt-table tr,
.message-content .czt-table tr {
  background-color: unset;
}
.window-app .window-content .czt-table .table-line-img,
.message-content .czt-table .table-line-img {
  width: 45px;
}
.window-app .window-content .czt-table .table-line-img img,
.message-content .czt-table .table-line-img img {
  width: 40px;
  height: 40px;
}
.window-app .window-content .czt-table .table-line-name,
.message-content .czt-table .table-line-name {
  padding-left: 3px;
}
.window-app .window-content .czt-table .table-line-control,
.message-content .czt-table .table-line-control {
  width: 30px;
}
.window-app .window-content .czt-table .table-line-control i.fa-trash,
.message-content .czt-table .table-line-control i.fa-trash {
  cursor: pointer;
}
.window-app .window-content .czt-no-flex,
.message-content .czt-no-flex {
  flex: 0 0 auto;
}
.window-app .window-content .czt-style-bold-italic,
.message-content .czt-style-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.window-app .window-content .czt-style-center,
.message-content .czt-style-center {
  text-align: center;
}
.window-app .window-content .czt-margin-bottom,
.message-content .czt-margin-bottom {
  margin-bottom: 3px;
}
.window-app .window-content .czt-float-left,
.message-content .czt-float-left {
  float: left;
}
@font-face {
  font-family: 'Furore';
  src: local('Furore'), url('./fonts/furore.woff2') format('woff2'), url('./fonts/furore.woff') format('woff'), url('./fonts/furore.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hattori Hanzo';
  src: local('Hattori Hanzo Light'), local('HattoriHanzo-Light'), url('./fonts/hattorihanzolight.woff2') format('woff2'), url('./fonts/hattorihanzolight.woff') format('woff'), url('./fonts/hattorihanzolight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.sheet form .sheet-tabs {
  margin: 0 4px;
  border: 0;
}
.sheet form .sheet-tabs .item {
  border-radius: 0 0  28px 28px;
  border: 1px solid var(--color-text-light-2);
  background: var(--color-text-light-1);
  overflow: hidden;
  width: 100%;
  margin: 0 3px;
}
.sheet form .sheet-tabs .item.active,
.sheet form .sheet-tabs .item:hover {
  text-shadow: none;
  background: var(--color-border-light-tertiary);
  color: var(--color-text-light-0);
}
/* Items Sheet */
/* Actors Sheet */
.window-app.sheet.actor .window-content {
  padding: 0;
}
.window-app.sheet.actor .window-content .actor-movies-list {
  margin: 5px 4px 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}
.window-app.sheet.actor .window-content .actor-movies-list .movie-item input {
  width: 100%;
}
.window-app.sheet.actor .window-content .movie-roll {
  cursor: pointer;
}
