:root {
  --color-shadow-primary: #78D8FC;
}
@font-face {
  font-family: 'Furore';
  src: local('Furore'), url('./fonts/furore.woff2') format('woff2'), url('./fonts/furore.woff') format('woff'), url('./fonts/furore.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hattori Hanzo';
  src: local('Hattori Hanzo Light'), local('HattoriHanzo-Light'), url('./fonts/hattorihanzolight.woff2') format('woff2'), url('./fonts/hattorihanzolight.woff') format('woff'), url('./fonts/hattorihanzolight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.sheet form {
  font-family: 'Hattori Hanzo';
}
.sheet form .cursor-click {
  cursor: pointer;
}
.sheet form h1,
.sheet form h2,
.sheet form h3,
.sheet form h4,
.sheet form h5,
.sheet form h6 {
  font-family: Furore;
}
.sheet form input,
.sheet form select {
  background: none;
  border: 1px solid transparent;
}
.sheet form .card-block-header {
  font-family: Furore;
  font-weight: bold;
  transform: uppercase;
  font-size: var(--font-size-16);
}
.sheet form table {
  margin: 0;
  border: 0;
  background: none;
  border-collapse: separate;
  border-spacing: 2px;
}
.sheet form table td.table-line-img {
  width: 30px;
  height: 30px;
}
.sheet form table td.table-line-img img {
  border: 0;
}
.sheet form table td.icon-trash {
  width: 15px;
}
.sheet form .editor {
  width: 100%;
  height: 100%;
}
.sheet form ul {
  margin-top: 0;
  padding: 0;
}
.sheet form ul li {
  list-style: none;
  margin-left: 0;
}
.sheet form .ul-point {
  padding-left: 18px;
}
.sheet form .ul-point li {
  list-style: circle;
}
.sheet form .ol-point li {
  list-style: square;
}
.sheet form .input-under-line {
  border-bottom: 2px solid black;
}
.sheet form .text-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.sheet form .text-font-size-16 {
  font-size: var(--font-size-16);
}
.window-app .window-content {
  padding-top: 0;
  background: none;
  background-color: #fff;
}
.sheet form .sheet-tabs {
  margin: 0;
  border: 0;
}
/* Items Sheet */
.item.sheet ul {
  margin-top: 8px;
}
.item.sheet ul li {
  line-height: 1.5;
}
.item.sheet.item-movies .ul-point li {
  list-style-type: circle;
  list-style-position: inside;
}
.item.sheet.item-movies .kind-type-border {
  border: 1px solid #f0f0e0;
  padding: 5px 10px 5px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--color-shadow-dark);
}
.item.sheet.item-movies .block-help {
  margin-top: 5px;
}
/* Actors Sheet */
.actor.sheet .actor-info .actor-avatar {
  width: 100px;
  height: 100px;
}
.actor.sheet .actor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.actor.sheet .actor-row .actor-sheet-rightside {
  padding-left: 5px;
}
.actor.sheet .actor-row .actor-sheet-leftside {
  padding-right: 5px;
}
.actor.sheet .actor-row .actor-sheet-center {
  flex: 0 0 auto;
  width: 30%;
}
.actor.sheet .actor-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.actor.sheet .sheet-tabs-origin {
  justify-content: space-between;
}
.actor.sheet .actor-item-origin.active {
  text-shadow: None;
}
.actor.sheet textarea[name="system.history.originInfo"] {
  height: 160px;
}
.actor.sheet .actor-sheet-block {
  margin-top: 3px;
}
.actor.sheet .input-contacts-name {
  width: 25%;
  border-bottom: 1px solid black;
}
.actor.sheet .input-contacts-val {
  width: 60%;
  border-bottom: 1px solid black;
}
.actor.sheet .input-contacts-val::placeholder {
  opacity: 1;
  color: black;
}
.actor.sheet .input-contact-psychomant-no-active::placeholder {
  opacity: 0.5;
  color: gray;
}
.actor.sheet .masonry-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}
.actor.sheet .actor-playbook-name {
  font-family: Furore;
  font-weight: bold;
  transform: uppercase;
  font-size: var(--font-size-24);
  text-align: center;
}
.actor.sheet .notes-own .editor {
  width: 100%;
  height: 766px;
}
